<h5>
    Mostrando desde Listado Entidad
</h5>

<div class="table-responsive">
    <div class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Sexo</th>
                <th>Email</th>
                <th>Nombre</th>
                <th>Apellido</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dato of datosMockaroo" (click)="onSelect(dato)">
                <td>
                    <img [src]="dato.FotoPerfil"
                         alt="imagen persona"
                         style="max-width: 50px;">
                </td>
                <td>{{dato.id}}</td>
                <td>{{dato.sexo}}</td>
                <td>{{dato.email}}</td>
                <td>{{dato.nombre}}</td>
                <td>{{dato.apellido}}</td>
            </tr>
        </tbody>
    </div>
</div>
